numpy
scikit-learn
matplotlib
seaborn

docling
faster-whisper
pypdf
sentence_transformers
requests
openai
matplotlib
#Hugging face connection to download embedding models
huggingface-hub==0.34.0
streamlit
python-dotenv

